.nav ul{
    list-style-type:none;
}
.nav-link{
    text-decoration: none;
    color:var(--clr-white);
}
.nav-link:hover{
    cursor:pointer;
}
.nav-link:hover img{ 
    filter:brightness(200%);
}
.logo-link{
    width:30px;
    height:30px;
}
.logo-link .logo{
    width:100%;
}