@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Outfit:wght@200;300;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
:root{
    --clr-red:#FC4747;
    --clr-dark-black:#10141E;
    --clr-gray:#5A698F;
    --clr-light-black:#161D2F;
    --clr-white:#FFFFFF;
}
body{
    background-color: var(--clr-dark-black);
}

/* common styling for all device sizes */

.wrapper{
    width:100%;
    height:100vh;
    display:flex;
    padding:2rem;
    position:relative;
}

.nav{
    background-color: var(--clr-light-black);
    border-radius:10px;
}

/* search bar : styling */
.searchInputContainer{
    height:60px;
    border-radius:1rem;
    background-color:var(--clr-light-black);
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:2rem;
}

.searchInput{
    height:50px;
    border:none;
    background-color: transparent;
    color:var(--clr-white);
    vertical-align: center;
    padding-left:2rem;
    outline:none;
}

.searchInput:focus{
    outline:none;
}

.searchImage{
    height:20px;
    width:20px;
}

.searchInput::placeholder{
    color:var(--clr-gray);
    letter-spacing:0.05rem;
}
 /* trending slider : styling */
.trendingContainer{
    padding-top:4rem;
    position:relative;
    top:15px;
    left:0;
}
.carousel{
    cursor:grab;
    overflow: hidden;
}
.image-carousel{
    display:flex;
    margin-top:2rem;
}

/* section heading in each page : styling */
.sectionHeading{
    color:var(--clr-white);
    font-size:24px;
    font-weight:500;
    margin-left:2rem;
}

/* card : styling */
.card{
    margin:1rem;
    position:relative;
    color:white;
}
.card:hover{
    transform:scale(1.1);
    cursor:pointer;
}
.card-title{
    position:absolute;
    left:1rem;
    bottom:1rem;
    font-size:13px;
    font-weight:500;
    letter-spacing: 2px;
    color:white;
}
.card-image{
    max-width:100%;
    border-radius:1rem;
}
.sliderImage{
    border-radius:1rem;
}

.bookmarkIconDiv{
    position:absolute;
    right:0.5rem;
    top:0.5rem;
    color:var(--clr-gray);
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;    
    border-radius:50%;
}
.bookmarked{
    background-color:var(--clr-dark-black);
}
.notBookmarked{
    background-color: var(--clr-light-black);
}
.movie-list{
    color:white;
}

.bookmarkScreenContainer{    
    padding:2rem 0 0 0;
    position:relative;
    top:3rem;
    left:0;
}

.pageContainer{    
    padding:2rem 0 0 0;
    position:relative;
    top:3rem;
    left:0;
}


/*********************************************************/
/******Device wise styling******************/
/********************************************************/
/* desktop device : styling */
@media screen and 
    (min-device-width:993px) and 
    (max-device-width:1440px){
        .nav{
            width:60px;            
            height:500px;
            position:fixed;
            top:2rem;
            left:1rem;            
        }
        .nav ul li{
            margin:2rem 1rem;
        }
        main{
            width:calc(100% - 60px);
            padding:0rem 2rem;
            position:absolute;
            top:3rem;
            left:60px;
        }
        .searchInputContainer{
            width:600px;
            margin-left:1rem;
        }
        .searchInput{
            width:400px;
        }
        .sliderImage{
            width:300px;
        }
        .pageGrid{
            padding:1rem;
            display:grid;
            grid-template-columns: repeat(4, minmax(200px, 300px));
            gap:0.5rem;
            position:relative;
            top:10px;
            left:0;
        }
}

/* tablet device : styling */
@media screen and 
    (min-device-width:501px) and 
    (max-device-width:992px){
        .nav{
            width:80%;            
            height:60px;
            position:fixed;
            top:2rem;
            left:8%;  
            z-index:1000;          
        }
        .nav ul{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .nav ul li{
            padding-top:1rem;
            margin:0 2rem;
        }
        main{
            width:100%;
            padding:1rem;
            position:absolute;
            top:6rem;
            left:0px;
        }
        .searchInputContainer{
            width:600px;
        }
        .searchInput{
            width:400px;
        }
        .sliderImage{
            width:280px;
        }
        .pageGrid{
            padding:1rem;
            display:grid;
            grid-template-columns: repeat(3, minmax(230px, 320px));
            gap:0.5rem;
            position:relative;
            top:30px;
            left:0;
        }
}

/* tablet device : styling */
@media screen and 
    (min-device-width:360px) and 
    (max-device-width:500px){
        .nav{
            width:90%;            
            height:60px;
            position:fixed;
            top:2rem;
            left:5%;  
            z-index:1000;          
        }
        .nav ul{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .nav ul li{
            padding-top:1rem;
            margin:0 2rem;
        }
        main{
            width:100%;
            padding:1rem;
            position:absolute;
            top:6rem;
            left:0px;
        }
        .searchInputContainer{
            width:360px;
        }
        .searchInput{
            width:300px;
        }
        .sliderImage{
            width:240px;
        }
        .pageGrid{
            padding:0.5rem;
            display:grid;
            grid-template-columns: repeat(2, 170px);
            gap:0.5rem;
            position:relative;
            top:30px;
            left:0;
        }
}








